.searchbox input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #9a9a9a;
}
.searchbox input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #9a9a9a;
}
.searchbox input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #9a9a9a;
}
.searchbox input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #9a9a9a;
}
div, input, form, fieldset, span, h4 {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

.searchbox {
width: 360px;
display: inline-block;
float: left;
height: 560px;
background:#3F51B5;
overflow: hidden;
position: relative;
font-size: 16px;
font-family: 'Roboto';
font-weight: 400;
}

.searchbox input, .searchbox select {
width: 100%;
display: inline-block;
padding: 6px; 
line-height: 22px;
font-size: 16px;
border: 2px solid #fff;
box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
border-radius: 2px;
font-family: 'Roboto';
}

fieldset {
width: 100%;
border: 0;
padding: 4px 2px;
display: inline-block;
float: left;
}

.fieldset50 {
width: 50%;
}
.fieldset33 {
width: 33.333%;
}

.searchbox input:focus,
.searchbox select:focus {
border: 2px solid #fff;
-webkit-transition: all 0.3s cubic-bezier(.4,0,.2,1);
-moz-transition: all 0.3s cubic-bezier(.4,0,.2,1);
-ms-transition: all 0.3s cubic-bezier(.4,0,.2,1);
transition: all 0.3s cubic-bezier(.4,0,.2,1);
}

input.datepicker {
background-image: url('http://uxrepo.com/download.php?img=static/icon-sets/ocha/svg/calendar.svg&color=000000'); 
background-repeat: no-repeat; 
background-position: 284px center;
background-size: 22px 22px;
}

.searchtipp {font-size: 14px; font-family: Roboto; letter-spacing: 0; color: rgba(32,39,36,0.7);line-height: 20px; width: 100%;display:inline-block; text-align:center; padding: 15px 0 10px 0;}
.searchcenter {display: inline-block; width:100%; text-align:center; padding: 15px 0 5px 0;}

.searchheader {
height: auto;
width: 100%;
display: inline-block;
float: left;
height: 70px;
position:relative;
}
.searchheader h1 {
padding: 0 0 10px 20px; 
margin-top:15px;
font-weight: 300;
font-size: 20px;
width: 100%;
color: #fff;
display: inline-block;
border-bottom: 1px solid rgba(0,0,0,0.2);
}
.searchslide {
display: none;
float: left;
position: relative;
width: 100%;
}

.searchslide.on {
display: inline-block;
-webkit-animation: fadeInDownSmall 0.4s;
-moz-animation: fadeInDownSmall 0.4s;
-ms-animation: fadeInDownSmall 0.4s;
animation: fadeInDownSamll 0.4s;
}

.searchslide form {
width: 100%;
display: inline-block;
float: left;
height: 600px;
opacity: 1;
padding: 15px 20px;
transition: all 0.3s cubic-bezier(.4,0,.2,1);
}

.searchslide.active form {
opacity: 0.3; -webkit-transform: translate3d(-25%,0,0);
-moz-transform: translate3d(-25%,0,0);
-ms-transform: translate3d(-25%,0,0);
transform: translate3d(-25%,0,0);
}



.datepickbox {display: inline-block;float: left;width:100%;}
#zebracontainer1, #zebracontainer2, #zebracontainer3 {
position: absolute;
left: 100%;
top:0;
display: inline-block;
float: left; 
width: 100%;
float: left;
height: 500px;
padding: 0;
text-align:center;
background: #fff;
-webkit-transition: all 0.3s cubic-bezier(.4,0,.2,1);
-moz-transition: all 0.3s cubic-bezier(.4,0,.2,1);
-ms-transition: all 0.3s cubic-bezier(.4,0,.2,1);
transition: all 0.3s cubic-bezier(.4,0,.2,1);
}

#zebracontainer1.active,  #zebracontainer2.active, #zebracontainer3.active {
-webkit-transform: translate3d(-100%,0,0);
-moz-transform: translate3d(-100%,0,0);
-ms-transform: translate3d(-100%,0,0);
transform: translate3d(-100%,0,0);
}

#zebracontainer1 .Zebra_DatePicker.dp_visible:nth-child(2) {visibility: hidden!important;display: none !important;}
.dptop {
background-color: #3F51B5 !important;
color: #fff !important;
}














/*

    Zebra_DatePicker: a lightweight jQuery date picker plugin

    default stylesheet
    copyright (c) 2011 - 2012 Stefan Gabos
	http://stefangabos.ro/jquery/zebra-datepicker/
	
	 - - blacktheme mockup 2013 - Kurucz Csaba 
	 - - material design mockup 2015 - Kurucz Csaba
    
*/



.datepickercontainer {position: relative; display: inline-block; float: left;}
/*.Zebra_DatePicker *,
.Zebra_DatePicker *:after,
.Zebra_DatePicker *:before  { -moz-box-sizing: content-box !important; -webkit-box-sizing: content-box !important; box-sizing: content-box !important }*/
.Zebra_DatePicker * { margin: 0; padding: 0; color: #000 }
.Zebra_DatePicker                            { position: relative; 
background: #fff; z-index: 9000; font-family: 'Roboto',Arial, Helvetica, sans-serif; font-size: 16px;
width: 100%;
overflow:hidden;
text-align:center;
margin: 0 auto;
}



.Zebra_DatePicker   span.dparrow {position: absolute; min-width: 15px; height: 8px; top: -8px; left: 8px;background: url('../img/dateparrow.png') no-repeat top left;}
/* = GLOBALS
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker table                      { border-collapse: collapse; border-spacing: 0; width: 100%;}

.Zebra_DatePicker td,
.Zebra_DatePicker th                         { text-align: center; padding: 5px 0; line-height: 20px;}

.Zebra_DatePicker td                         { cursor: pointer }

.Zebra_DatePicker .dp_daypicker,
.Zebra_DatePicker .dp_monthpicker,
.Zebra_DatePicker .dp_yearpicker             { margin-top: 3px }

.Zebra_DatePicker .dp_daypicker td,
.Zebra_DatePicker .dp_daypicker th,
.Zebra_DatePicker .dp_monthpicker td,
.Zebra_DatePicker .dp_yearpicker td         { background: #fff; width: 34px !important; border: 1px solid transparent; }
.Zebra_DatePicker .dp_daypicker td {
                                   height: 34px;  width: 34px;  padding: 0; line-height: 34px  ; color: #000; background: #fff;
                                   }
								   
/* = VISIBLE/HIDDEN STATES (USE TRANSITIONS FOR EFFECTS)
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker.dp_visible               { visibility: visible; filter: alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1; opacity: 1; transition: opacity 0.2s ease-in-out; display: block;}
.Zebra_DatePicker.dp_hidden                { visibility: hidden; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0; opacity: 0 ;display: none;}
								   
								   
								   
/* = HEADER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_header {width: 100% !important;}
.Zebra_DatePicker .dp_header tr {padding: 0;height: 120px;}
.Zebra_DatePicker .dp_header td             { color: #000 !important; background: transparent; border: 1px solid transparent; border-right: none; border-left: none;padding: 0;vertical-align: middle;}

.Zebra_DatePicker .dp_header .dp_previous, .Zebra_DatePicker .dp_header .dp_next       {position:relative; width: 20% !important; text-indent: -300px; overflow: hidden;}


.Zebra_DatePicker .dp_header .dp_caption {width: 60%;padding-top: 5px; }
.Zebra_DatePicker .dp_header .dp_caption span  {font-weight: 300; font-size: 30px; line-height: 24px; overflow: hidden; color: #000 !important;}
.Zebra_DatePicker .dp_header .dp_caption span small {font-size: 16px;height: 20px; line-height: 20px;margin-bottom: 5px;color: #000 !important;width: 100%; display: inline-block; float: left; text-align:cente;}

.Zebra_DatePicker .dp_header .dp_hover      { background: transparent; color: #000; }
.Zebra_DatePicker .dp_header .dp_blocked    { color: #888; cursor: default }




.Zebra_DatePicker .dp_header .dp_next::before {
width: 20px; height: 2px;
text-align:center;
position:absolute;
background: #000;
top: 50%;
margin-top: -7px;
margin-left: -7px;
left: 50%;
line-height: 0;
content: '';
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);
}
.Zebra_DatePicker .dp_header .dp_next::after {
width: 20px; height: 2px;
text-align:center;
position:absolute;
background: #000;
margin-top: 6px;
margin-left: -7px;
top: 50%;
left: 50%;
line-height: 0;
content: '';
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
transform: rotate(-45deg);
}


.Zebra_DatePicker .dp_header .dp_previous::before {
width: 20px; height: 2px;
text-align:center;
position:absolute;
background: #000;
top: 50%;
margin-top: -7px;
margin-left: -7px;
left: 50%;
line-height: 0;
content: '';
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.Zebra_DatePicker .dp_header .dp_previous::after {
width: 20px; height: 2px;
text-align:center;
position:absolute;
background: #000;
margin-top: 6px;
margin-left: -7px;
top: 50%;
left: 50%;
line-height: 0;
content: '';
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);
}






/* = DATEPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_daypicker th          { background: transparent; color: #000; font-weight: bold; }
.Zebra_DatePicker td.dp_not_in_month { background: #fff; color: #fff; cursor: default; font-weight: noraml; }
.Zebra_DatePicker td.dp_disabled       { background: #fff; color: #aaa; cursor: default; font-weight: noraml; }
.Zebra_DatePicker td.dp_weekend             { background: #fff }
.Zebra_DatePicker td.dp_weekend_disabled    { background: #fff; color: #aaa; cursor: default; font-weight: noraml; }
.Zebra_DatePicker td.dp_selected, .Zebra_DatePicker td.dp_selected.dp_hover            { background: #F50057; color: #FFF !important; border-radius: 3px;}
.Zebra_DatePicker td.dp_week_number         { background: #fff; color: #555; cursor: text; font-style: italic }

/* = MONTHPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_monthpicker td        { width: 33%; line-height: 40px; height: 40px; font-size: 20px;}
.Zebra_DatePicker .dp_monthpicker td.dp_current {color: #F50057;background: #fff;} 
/* = YEARPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_yearpicker td         { width: 33%; line-height: 40px; height: 40px; color: #000;font-size: 20px;}
.Zebra_DatePicker .dp_yearpicker td.dp_current {color: #F50057;background: #fff;} 
/* = FOOTER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_footer                { margin-top: 3px; width: 100%;}
.Zebra_DatePicker .dp_footer td             { color: #000; padding: 4px 6px; font-weight: bold; background: #fff; width: 100%;border-radius: 2px;
}
.Zebra_DatePicker .dp_footer .dp_hover      { background: #fff; color: #000;}

/* = SOME MORE GLOBALS (MUST BE LAST IN ORDER TO OVERWRITE PREVIOUS PROPERTIES)
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker td.dp_current             { color: #ffffff }
.Zebra_DatePicker td.dp_disabled_current    { color: #ccc; font-weight: bold; background: #fff; }
.Zebra_DatePicker td.dp_disabled            { background: #fff; color: #aaa; cursor: default }
.Zebra_DatePicker td.dp_hover               { background: #eee; color: #000 !important; }
.Zebra_DatePicker .dp_header td, .Zebra_DatePicker .dp_header td.dp_hover {color: #fff !important;}
/* = ICON
----------------------------------------------------------------------------------------------------------------------*/
button.Zebra_DatePicker_Icon                { position: absolute; width: 16px; height: 16px; background: url('calendar.png') no-repeat left top; text-indent: -9000px; border: none; cursor: pointer; margin: 0 0 0 5px; padding: 0; line-height: 0 }
button.Zebra_DatePicker_Icon_Disabled       { background-image: url('calendar-disabled.png') }
button.Zebra_DatePicker_Icon_Inside         { margin: 0 3px 0 0 }

/* Fix icon position in Chrome & Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
button.Zebra_DatePicker_Icon_Inside     { margin: 0 5px 0 0 }
}



.dptop {
background: #ffeb3b;
width: 100%;
height: 120px;
display: inline-block;
float: left;
color: #fff;
position:relative;
}
.dpbottom {
background: #fff;
width: 100%;
display: inline-block;
float: left;
padding: 25px;
box-sizing: border-box !important;
-moz-box-sizing: border-box !important;
-webkit-box-sizing: border-box !important;
-ms-box-sizing: border-box !important;
}

.dpbottom.anim_left, .anim_left {
-webkit-animation: slideLeftSmall 0.3s ease;
-moz-animation: slideLeftSmall 0.3s ease;
animation: slideLeftSmall 0.3s ease;
-ms-animation: slideLeftSmall 0.3s ease;
}
.dpbottom.anim_right, .anim_right {
-webkit-animation: slideRightSmall 0.3s ease;
-moz-animation: slideRightSmall 0.3s ease;
animation: slideRightSmall 0.3s ease;
-ms-animation: slideRightSmall 0.3s ease;
}

.dp_caption span.anim_bottom {
-webkit-animation: slideDownSmall 0.3s ease;
-moz-animation: slideDownSmall 0.3s ease;
animation: slideDownSmall 0.3s ease;
-ms-animation: slideDownSmall 0.3s ease;
}
.dp_caption span.anim_top {
-webkit-animation: slideUpSmall 0.3s ease;
-moz-animation: slideUpSmall 0.3s ease;
animation: slideUpSmall 0.3s ease;
-ms-animation: slideUpSmall 0.3s ease;
}

@-webkit-keyframes slideDownSmall {
	0 {-webkit-transform: translate3d(0,0,0);opacity: 1;}
  	25% {-webkit-transform: translate3d(0,20px,0);opacity: 0}
	50% {-webkit-transform: translate3d(0,-40px,0);opacity: 0}
	100% {-webkit-transform: translate3d(0,0,0);opacity: 1}
}
@-moz-keyframes slideDownSmall {
	0 {-moz-transform: translate3d(0,0,0);opacity: 1}
  	25% {-moz-transform: translate3d(0,20px,0);opacity: 0}
	50% {-moz-transform: translate3d(0,-40px,0);opacity: 0}
	100% {-moz-transform: translate3d(0,0,0);opacity: 1}
}
@keyframes slideDownSmall{
	0 {transform: translate3d(0,0,0);opacity: 1}
  	25% {transform: translate3d(0,20px,0);opacity: 0}
	50% {transform: translate3d(0,-40px,0);opacity: 0}
	100% {transform: translate3d(0,0,0);opacity: 1}
}

@-webkit-keyframes slideUpSmall {
	0 {-webkit-transform: translate3d(0,0,0);opacity: 1;}
  	25% {-webkit-transform: translate3d(0,-20px,0);opacity: 0}
	50% {-webkit-transform: translate3d(0,40px,0);opacity: 0}
	100% {-webkit-transform: translate3d(0,0,0);opacity: 1}
}
@-moz-keyframes slideUpSmall {
	0 {-moz-transform: translate3d(0,0,0);opacity: 1;}
  	25% {-moz-transform: translate3d(0,-20px,0);opacity: 0}
	50% {-moz-transform: translate3d(0,40px,0);opacity: 0}
	100% {-moz-transform: translate3d(0,0,0);opacity: 1}
}
@keyframes slideUpSmall {
	0 {transform: translate3d(0,0,0);opacity: 1;}
  	25% {transform: translate3d(0,-20px,0);opacity: 0}
	50% {transform: translate3d(0,40px,0);opacity: 0}
	100% {transform: translate3d(0,0,0);opacity: 1}
}


@-webkit-keyframes slideLeftSmall {
	0 {-webkit-transform: translate3d(0,0,0);opacity: 1;}
  	25% {-webkit-transform: translate3d(-10%,0,0);opacity: 0}
	50% {-webkit-transform: translate3d(20%,0,0);opacity: 0}
	100% {-webkit-transform: translate3d(0,0,0);opacity: 1}
}
@-moz-keyframes slideLeftSmall {
	0 {-moz-transform: translate3d(0,0,0);opacity: 1;}
  	25% {-moz-transform: translate3d(-10%,0,0);opacity: 0}
	50% {-moz-transform: translate3d(20%,0,0);opacity: 0}
	100% {-moz-transform: translate3d(0,0,0);opacity: 1}
}
@keyframes slideLeftSmall {
	0 {transform: translate3d(0,0,0);opacity: 1;}
  	25% {transform: translate3d(-10%,0,0);opacity: 0}
	50% {transform: translate3d(20%,0,0);opacity: 0}
	100% {transform: translate3d(0,0,0);opacity: 1}
}

@-webkit-keyframes slideRightSmall {
	0 {-webkit-transform: translate3d(0,0,0);opacity: 1;}
  	25% {-webkit-transform: translate3d(10%,0,0);opacity: 0}
	50% {-webkit-transform: translate3d(-20%,0,0);opacity: 0}
	100% {-webkit-transform: translate3d(0,0,0);opacity: 1}
}
@-moz-keyframes slideRightSmall {
	0 {-moz-transform: translate3d(0,0,0);opacity: 1;}
  	25% {-moz-transform: translate3d(10%,0,0);opacity: 0}
	50% {-moz-transform: translate3d(-20%,0,0);opacity: 0}
	100% {-moz-transform: translate3d(0,0,0);opacity: 1}
}
@keyframes slideRightSmall {
	0 {transform: translate3d(0,0,0);opacity: 1;}
  	25% {transform: translate3d(10%,0,0);opacity: 0}
	50% {transform: translate3d(-20%,0,0);opacity: 0}
	100% {transform: translate3d(0,0,0);opacity: 1}
}








.dp_header, .dp_caption, .Zebra_DatePicker .dp_header .dp_caption span small, .Zebra_DatePicker .dp_header .dp_caption span {color: #fff !important;}
.Zebra_DatePicker .dp_header .dp_next::before,
.Zebra_DatePicker .dp_header .dp_next::after,
.Zebra_DatePicker .dp_header .dp_previous::before,
.Zebra_DatePicker .dp_header .dp_previous::after {
background: #fff !important;
}