.navbar-inverse{
	background: #2196f3!important;
	border-color: #2196f3!important;
}
.navbar-inverse .navbar-toggle{
	border-color: white!important;
}
.navbar-inverse .navbar-toggle:hover{
	color: #2196f3!important;
	background-color: #f9f9f9!important;
}
.navbar-inverse .navbar-toggle:hover .icon-bar{
	background-color: #2196f3!important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: white!important;
}
.btn-web-primary{
	color: white;
	background-color: #3ba1f3;
	border-color: #2196f3
}
.btn-web-primary:hover {
	color: white;
	background-color: #2196f3;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background: #2196f3!important;
}
.navbar-brand{
	color: white!important;
}
.navbar-brand:hover{
	color: white!important;
}
.navbar-inverse .navbar-nav>li>a{
	color: white!important;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #ccc!important;
}
.custom-header a.navbar-brand.navbar-link{
	font-size: 24px!important;
}
.glyphicon-pencil{
	color: white!important;
	font-size: 14px!important;
	cursor: pointer!important;
}
.glyphicon-pencil:hover{
	color: #ccc!important;
}
textarea {
    resize: vertical;
}
.row .col-md-6,.col-sm-6,.col-lg-4,.col-xs-6{
	padding-left: 10px!important;
	padding-right: 10px!important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.home-div{
	position: relative;
}
.base-div{
	background: url(../img/ucst.jpg) no-repeat top;
	width:100%;
	height: 25%;
	min-height: 300px;
	text-align: center;
	color: white;
	background-size:100% auto;
	position: absolute;
	padding-top: 50px;
	text-align: center;
}
.second-div{
	position: absolute;
	width: 100%;
	top: 300px;
}
.card{
	background-color: white;
	border-radius: 4px;
	box-shadow: 2px 2px 2px;
	padding: 15px;
}
.card .table-responsive{
	border: none!important;
}
.card-body img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.card-title {
	color: #2196f3 !important;
}
small {
	display: block;
	line-height: 1.428571429;
	color: #999;
}
.selectionPhoto{
	width: 110px;
	height: 110px;
}
.selectionPhoto-sm {
	width: 56px;
	height: 56px;
}
.selectionPhoto-lg {
	width: auto;
	height: 250px;
}
#main_div .selected{
	border-radius: 4px;
	border: 1px solid #2196f3;
	background-color: #2196f3;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
}
.table-user-information > tbody > tr {
	border-top: 1px solid rgb(221, 221, 221);
}
.table-user-information > tbody > tr:first-child {
	border-top: 0;
}
.table-user-information > tbody > tr > td {
	border-top: 0;
}
.rounded{
	border-radius: 50%;
}
.responsive {
	width: 100%;
	height: auto;
}
.base-div .table-responsive{
	border: none!important;
}
.base-div .table-responsive::-webkit-scrollbar {
	height: 0px;
}
.top5{
	padding-left: 25px!important;
	padding-right: 25px!important;
}
.loadingoverlay_element{
	background-color: white;
	padding-left: 0px!important;
	border-radius: 8px!important;
}
.chrome-div{
	color: #337ab7;
	font-size: 62px!important;
}
#selectionAddDialog .modal-header{
	background: #2196f3;
	border-color: #2196f3;
	color: white;
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px;
}
#selectionAddDialog .close{
	opacity: 0.5;
}
#selectionAddDialog .close:hover{
	color: white;
	opacity: 1;
}

.btn-radio {
	cursor: pointer;
	display: inline-block;
	float: left;
	font-weight: 500!important;
	-webkit-user-select: none;
	user-select: none;
}
.btn-radio:hover{
	opacity: 0.5;
}
.btn-radio:not(:first-child) {
	margin-right: 15px;
}
.btn-radio svg {
	fill: none;
	vertical-align: middle;
}
.btn-radio svg circle {
	stroke-width: 2;
	stroke: #C8CCD4;
}
.btn-radio svg path {
	stroke: #2196f3;
}
.btn-radio svg path.inner {
	stroke-width: 6;
	stroke-dasharray: 19;
	stroke-dashoffset: 19;
}
.btn-radio svg path.outer {
	stroke-width: 2;
	stroke-dasharray: 57;
	stroke-dashoffset: 57;
}
.btn-radio input {
	display: none;
}
.btn-radio input:checked + svg path {
	transition: all 0.4s ease;
}
.btn-radio input:checked + svg path.inner {
	stroke-dashoffset: 38;
	transition-delay: 0.3s;
}
.btn-radio input:checked + svg path.outer {
	stroke-dashoffset: 0;
}
.btn-radio span {
	display: inline-block;
	vertical-align: middle;
}
.thumb{
	width: 35px;
	height: 35px;
	border-radius: 4px;
}
.uploadingPhoto{
	z-index: 9999;
	position: fixed;
	background: #2196f3;
	border-radius: 4px;
	color: white;position: absolute;
	margin: auto;
	right: 0;
	bottom: 15px;
	position: fixed;
	left: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.fab-div{
	border-radius: 50%;
	background-color: #2196f3;
	min-width: 56px;
	min-height: 56px;
	max-width: 56px;
	max-height: 56px;
	text-align: center;
	color: white;
	font-size: 22px;
	position: fixed;
	bottom: 0;
	right: 0;
	cursor: pointer;
	margin-bottom: 32px;
	margin-right: 32px;
	padding-top: calc(56px / 4);
}
._2md {
	background-image: url(../img/facebook-circular-logo.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-color: #29487d;
	display: block;
	height: 24px;
	outline: none;
	border-radius: 4px;
	overflow: hidden;
	text-indent: -999px;
	white-space: nowrap;
	width: 24px;
}
._2md:hover{
	background-color: #2196f3;
}
.photoDiv img{
	width: 135px;
	height: 150px;
}
.photoDiv .removePhoto{
	right: 0px;
	top: -2px;
	color: white;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #d9534f;
    position: absolute;
    border: transparent;
    opacity: 0.8;
    display: none;
}
.photoDiv .removePhoto:hover{
	opacity: 1;
}

.photoDiv{
	width: 140px;
	height: 160px;
	border-radius: 4px;
	cursor: pointer;
    position: relative;
}

.dashBorder{
	border: 2px dashed #ccc;
}

.photoDiv:hover{
	border-color: #2196f3;
}

.uploadBtn{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	background: rgb(33,150,243);
	z-index: 1;
	border-top: 1px dashed #ccc;
}

@media screen and (max-width: 767px) {
    .navbar-collapse>ul>li>.dropdown-menu>li>a{
		color: #ffffff!important;
	}
	.dropdown-header{
		color: #333!important;
	}
}
@media screen and (min-width: 992px) {
    #facebookLbl{
    	margin-top: 15px;
    }
}
@media screen and (max-width: 900px){
	.selectionPhoto{
		width: 75px;
		height: 75px;
	}
	/*.card .col-sm-6{
		width: 33.33333333%;
	}*/
	.second-div{
		top: 190px;
	}
	.base-div{
		min-height: 200px;
		padding-top: 40px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media screen and (max-width: 750px){
	/*.card .col-sm-6{
		width: 50%;
	}*/
}
@media screen and (max-width: 480px) {
	/*.card .col-xs-6{
		width: 100%;
	}*/
	.btn-radio {
		display: block;
		float: none;
	}
	.btn-radio:not(:first-child) {
		margin-left: 0;
	}
	.second-div{
		top: 200px;
	}
	.base-div{
		min-height: 220px;
		padding-top: 40px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.selectionPhoto{
		width: 50px;
		height: 50px;
	}
	.top5{
		padding-right: 10px!important;
		padding-left: 10px!important;
	}
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #337ab7; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}