<nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius: 0px;" id="nav-bar">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" id="btn-nav" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div>
				<a class="navbar-brand" href="admin-ucstgo" id="votingYear">
					ကွန်ပျူတာတက္ကသိုလ်(တောင်ငူ)
				</a>
				<i class="glyphicon glyphicon-pencil" title="Edit Year" id="yearEdit"></i>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="div-for-home">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="allresult" id="allResult">
						All Result
					</a>
				</li>
				<li>
					<a href="selectionlist" id="selectionList">
						Selection List
					</a>
				</li>
			</ul>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="home">
						Home
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user-name">
						Admin <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Setting</li>
						<li hidden>
							<a id="stdCount" style="cursor: pointer;">Student Count - 600</a>
						</li>
						<li>
							<a id="messageSend" style="cursor: pointer;">Send Notification.</a>
						</li>
						<li>
							<a id="serverOpen" style="cursor: pointer;">Vote Server already closed.</a>
						</li>
						<li>
							<a id="liveServerOpen" style="cursor: pointer;">Live Server already closed.</a>
						</li>
						<li>
							<a id="serverStatusMsg" style="cursor: pointer;">Vote Server status mssage.</a>
						</li>
						<li>
							<a id="liveServerStatusMsg" style="cursor: pointer;">Live Server status mssage.</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="logout">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>