<footer>
	<div class="row">
		<div class="col-md-4 col-sm-6 footer-navigation">
			<h3><a href="#">UCSTgo Voting</a></h3>
			<p class="links"><a href="http://ucstaungoo.edu.mm/" target="_blank">Home</a><strong> . </strong><a href="http://ucstaungoo.edu.mm/background-history/" target="_blank">About</a><strong> . </strong><a href="http://ucstaungoo.edu.mm/contact-form/" target="_blank">Contact</a></p>
			<p class="company-name">Computer University Taungoo © 2018 </p>
			<p class="company-name">Developed by - <a style="text-decoration: none; color: #5383d3;" href="https://kyawhtut.com" target="_blank">Kyaw Htut</a> <a style="text-decoration: none; color: #5383d3;" href="mailto:developer.kyawhtut@gmail.com">developer.kyawhtut@gmail.com</a></p>
		</div>
		<div class="col-md-4 col-sm-6 footer-contacts">
			<div>
				<span class="fa fa-map-marker footer-contacts-icon"> </span>
				<p>
					<a href="https://goo.gl/maps/4hNehEDbnU72" target="_blank" style="color: white;">
						<span class="new-line-span" style="color: white;">Kanyoo</span> Taungoo, Bago
					</a>
				</p>
			</div>
			<div>
				<i class="fa fa-phone footer-contacts-icon"></i>
				<p class="footer-center-info email text-left"><a href="tel:09254090400">09254090400</a></p>
			</div>
			<div>
				<i class="fa fa-envelope footer-contacts-icon"></i>
				<p> 
					<a href="mailto:rector@ucstaungoo.edu.mm">rector@ucstaungoo.edu.mm</a></p>
			</div>
		</div>
		<div class="clearfix visible-sm-block"></div>
		<div class="col-md-4 footer-about">
			<div style="position: relative;">
				<h4 style="float: left; margin-right: 8px;">About University</h4>
				<i class="glyphicon glyphicon-pencil" title="Edit Year" id="aboutEdit"></i>
			</div>
			<div style="clear: both;"></div>
			<p id="pAbout">
			</p>
			<div style="margin-top: 10px;">
				<a href="https://www.facebook.com/cutaungoo/" target="_blank">
					<span class="_2md">Facebook</span>
				</a>
			</div>
		</div>
	</div>
</footer>