c<div class="modal fade" id="selectionAddDialog" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" title="Close">&times;</button>
				<h4 class="modal-title" id="selectionDialogTitle">Add new selection</h4>
			</div>
			<div class="modal-body">
				<div class="col-md-12 div-form" style="padding: 0;">
					<div class="div-form col-xs-6 col-md-4 col-lg-4" align="center" style="margin-top: 4px;">
						<div class="photoDiv dashBorder" title="Select Photo" id="previewPhotoOne">
							<button type="button" class="removePhoto" id="removeFirstPhoto" title="Remove Photo" onclick="removeFirstPhoto();">&times;</button>
							<span class="uploadBtn" style="cursor: pointer;" id="uploadPhotoOne" onclick="uploadPhotoOne();">
								Browse
							</span>
							<input accept="image/*" type="file" name="selectionPhotoOne" id="selectionPhotoOne" style="display: none;" />
						</div>
					</div>
					<div class="div-form col-xs-6 col-md-4 col-lg-4" align="center" style="margin-top: 4px;">
						<div class="photoDiv dashBorder" title="Select Photo" id="previewPhotoTwo">
							<button type="button" class="removePhoto" id="removeSecondPhoto" title="Remove Photo" onclick="removeSecondPhoto();">&times;</button>
							<span class="uploadBtn" style="cursor: pointer;" id="uploadPhotoTwo" onclick="uploadPhotoTwo();">
								Browse
							</span>
							<input accept="image/*" type="file" name="selectionPhotoTwo" id="selectionPhotoTwo" style="display: none;" />
						</div>
					</div>
					<div class="div-form col-xs-6 col-md-4 col-lg-4" align="center" style="margin-top: 4px;">
						<div class="photoDiv dashBorder" title="Select Photo" id="previewPhotoThree">
							<button type="button" class="removePhoto" id="removeThirdPhoto" title="Remove Photo" onclick="removeThirdPhoto();">&times;</button>
							<span class="uploadBtn" style="cursor: pointer;" id="uploadPhotoThree" onclick="uploadPhotoThree();">
								Browse
							</span>
							<input accept="image/*" type="file" name="selectionPhotoThree" id="selectionPhotoThree" style="display: none;" />
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
				<div class="col-md-12 div-form" style="padding: 0; margin-top: 8px;">
					<div class="div-form col-md-6">
						<div class="form-group" align="left">
							<label style="color: #2196f3;">
								အမည်
							</label>
							<input required class="form-control" type="text" value="" placeholder="အမည်" id="name" name="name">
						</div>
						<div class="form-group" align="left">
							<label style="color: #2196f3;">
								Gender
							</label><br>
							<label for="male" class="btn-radio">
								<input type="radio" id="male" name="gender" value=0>
								<svg width="15px" height="15px" viewBox="0 0 20 20">
								<circle cx="10" cy="10" r="9"></circle>
								<path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
								<path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
								</svg>
								<span>Male</span>
							</label>
							<label for="female" class="btn-radio second">
								<input type="radio" id="female" name="gender" value=1>
								<svg width="15px" height="15px" viewBox="0 0 20 20">
								<circle cx="10" cy="10" r="9"></circle>
								<path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
								<path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
								</svg>
								<span>Female</span>
							</label>
						</div>
					</div>
					<div class="div-form col-md-6">
						<div class="form-group" align="left">
							<label style="color: #2196f3; width: 100%; text-align: left;" id="classLbl">
								Class
							</label>
							<label for="classA" class="btn-radio">
								<input type="radio" id="classA" name="class" value="Class - A">
								<svg width="15px" height="15px" viewBox="0 0 20 20">
								<circle cx="10" cy="10" r="9"></circle>
								<path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
								<path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
								</svg>
								<span>Class A</span>
							</label>
							<label for="classB" class="btn-radio second">
								<input type="radio" id="classB" name="class" value="Class - B">
								<svg width="15px" height="15px" viewBox="0 0 20 20">
								<circle cx="10" cy="10" r="9"></circle>
								<path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
								<path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
								</svg>
								<span>Class B</span>
							</label>
							<label for="classC" class="btn-radio">
								<input type="radio" id="classC" name="class" value="Class - C">
								<svg width="15px" height="15px" viewBox="0 0 20 20">
								<circle cx="10" cy="10" r="9"></circle>
								<path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
								<path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
								</svg>
								<span>Class C</span>
							</label>
						</div>
						<div class="form-group" align="left">
							<label style="color: #2196f3; width: 100%; text-align: left;" id="facebookLbl">
								Facebook Profile
							</label>
							<input required class="form-control" type="text" value="" id="fbProfile" placeholder="Facebook Profile" name="fbProfile">
						</div>
					</div>
				</div>
			</div>	
			<div style="clear: both;"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal" style="opacity: 0;" id="delete-btn">Delete</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="change-btn">OK</button>
			</div>
		</div>
	</div>
</div>